name: CI

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x
    - name: Install WASM Workload
      run: dotnet workload install wasm-tools
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal

    # Publish Library (DLLs)
    - name: Publish Library
      run: dotnet publish ShYCalculator/ShYCalculator.csproj -c Release -o output/library

    - name: Upload Library Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ShYCalculator-Lib
        path: output/library/**

    # Publish WASM (WebSite)
    - name: Publish WASM
      run: dotnet publish ShYCalculator.Wasm/ShYCalculator.Wasm.csproj -c Release -o output/wasm

    - name: Upload WASM Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ShYCalculator-Wasm
        path: output/wasm/wwwroot/**
